body{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;   
    color: #373A3C; 
}

.row{
    margin: auto;
}

.col{
    padding: 0;
}

.content{
    margin:0;
    padding: 0;
    position: relative;
    top: 100px;
    left: 164px;
    
}

h1{
    font-size: 72px;
    margin: 0;
}

.user-input{
    margin-top: 57px;
    padding-left: 5px;
    font-size: 24px;
}

#num1{
    margin: 0 10px;
}

#num2{
    margin: 0 10px;
}

#userNum{
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    width: 86px;
    height: 38px;
    margin: 0 14px;
    text-align: left;
    padding-bottom: 3px;
    padding-left: 14px;
    font-size: 24px;
    color: #373A3C;
}

::placeholder{
    font-size: 16px;
    position: relative;
    bottom: 2px;
    color: #999999;
    
}

#calcBtn {
    background: #0275D8;
    border: 1px solid #0275D8;
}

#answer {
    align-items: flex-end;
    text-decoration-line: underline;
    font-size: 24px;
    font-weight: bold;
    color: #373A3C;
    margin-left: 14px;

}

#loading-num {  
    display: none;
    font-size: 18px;
    padding-top: 3px;
}

#loading-res {  
    display: none;
    font-size: 18px;
    padding-top: 3px;
    position: relative;
    top: 23px;
    left: 15px;
}

#larger-50-alert {
    display: none;
    font-size: 16px;
    width: 180px;
    height: 33px;
    padding: 0;
    padding-top: 2px;
    text-align: center;
    position: relative;
    left: 113px;
    color: #A94442;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.row-alert {
    padding-top: 8px;
}

.fade-in {
    display: inline-block!important;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
    -webkit-animation: fadeIn ease 0.5s forwards;
    -moz-animation: fadeIn ease 0.5s forwards;
    -o-animation: fadeIn ease 0.5s forwards;
    -ms-animation: fadeIn ease 0.5s forwards;
}

@keyframes fadeIn {
0% {display: inline-block!important;
    opacity:0;
}
100% {opacity:1;
    display: inline-block!important;}
}

#server-err{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #D9534F;
    align-items: flex-end;
    margin-left: 14px;
    padding-top: 6px;
}

.results-h1{
    font-size: 54px;
    line-height: 72px;
    color: #373A3C;
    padding-left: 0;
    max-width: 182px;
}

.row-results-header{
    position: absolute;
    top: 240px;
    
}

.result{
    font-size: 24px;
    color:  #373A3C;
    border-bottom: 1px solid #000000;
    padding: 18px 0;
}

#row-results{
    position: relative;
    top: 165px;
}
